*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* style body */

body {

    background-color: #181818;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* style logo*/

.logo {

    max-width: 200px;
    margin-bottom: 24px;
}